.layout-wrapper {
    height: 100vh;
    .menu-wrapper {
        position: absolute;
        z-index: 99;
        top: -50px;
        left: -50px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #ff7171;
        cursor: pointer;
    }
    .menu {
        position: relative;
        right: -58px;
        bottom: -58px;
        font-size: 20px;
        color: #fff;
    }
    .menu-detail {
        position: absolute;
        z-index: 98;
        top: -95px;
        left: -95px;
        width: 190px;
        height: 190px;
        border-radius: 50%;
        background-color: #ff6364;
    }
    .stop-btn {
        position: relative;
        top: 111px;
        left: 151px;
        font-size: 20px;
        color: #fff;
    }
    .minus-btn {
        position: relative;
        top: 151px;
        left: 91px;
        font-size: 20px;
        color: #fff;
    }
}