.layout-wrapper {
    height: 100vh;
    .menu-wrapper {
        position: absolute;
        z-index: 99;
        top: -50px;
        left: -50px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #ff7171;
        cursor: pointer;
    }
    .menu {
        position: relative;
        right: -58px;
        bottom: -58px;
        font-size: 20px;
        color: #fff;
    }
    .menu-detail {
        position: absolute;
        z-index: 98;
        top: -100px;
        left: -100px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: #ff6364;
    }
    .stop-btn {
        position: relative;
        top: 110px;
        left: 160px;
        font-size: 20px;
        color: #fff;
    }
    .minus-btn {
        position: relative;
        top: 143px;
        left: 120px;
        font-size: 20px;
        color: #fff;
    }
    .setting-btn {
        position: relative;
        top: 160px;
        left: 68px;
        font-size: 20px;
        color: #fff;
    }
}